.Home-page-list {
  background-color: #181818;
  padding: 2px;
  min-height: 100px;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .Home-page-list {
    margin-top: 70px;
  }
}

.Home-page-list-card {
  background-color: #181818;
  padding: 2px;
  min-height: 100px;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .Home-page-list-card {
    margin-top: 0px;
  }
}

.Contact-us-page-Home-page {
  background-color: #131313;
  margin-top: 30px;
  background-size: cover;
  padding: 5px;
  margin-top: -5px;
  height: 19vh;
}
