.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 84.2vh;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .loader-container {
    height: 30vh;
  }
}

.Failure-trending {
  height: 84.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .Failure-trending {
    height: 30vh;
  }
}

.Para {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.TryAgain {
  width: 90px;
  height: 30px;
  outline: none;
  border: none;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #171f46;
  cursor: pointer;
}
